.Article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 20px 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.Article__Header {
  display: flex;
}

.Article__Left {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Article__TitleWrapper {
  display: flex;
}

.Article__Right {
  position: relative;
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.Article__UserInfoWrapper {
  display: flex;
}

.Article__Username {
  font-size: 20px;
  color: #000000;
}

.Article__Tags {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.Article__TagsItem {
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 2px 5px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.Article__Title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.Article__Link {
  text-decoration: none;
  color: #1890ff;
}

.Article__Link:hover {
  opacity: 0.7;
}

.Article__Link:active,
.Article__Link:focus {
  color: #52c41a;
}

.Article__Like {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  align-self: center;
}

.Article__Heart {
  margin-right: 5px;
  align-self: center;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.Article__Heart:hover {
  color: #ff0707;
}

.Article__Avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.Article__Buttons {
  margin-top: 20px;
}

button.Article__Delete {
  margin-right: 20px;
  background-color: #ffffff;
  color: #f5222d;
  border-color: #f5222d;
}

button.Article__Edit {
  background-color: #ffffff;
  color: #52c41a;
  border-color: #52c41a;
}

button.Article__Edit:hover,
button.Article__Edit:focus,
button.Article__Edit:active {
  background-color: #52c41a;
}

.Article__Content {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.Article__UserInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
}

.Article__Description {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
