.Article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 15px 20px 25px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.Article__Header {
  display: flex;
}

.Article__Left {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Article__TitleWrapper {
  display: flex;
}

.Article__Right {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}

.Article__Tags {
  width: 100%;
  // overflow-wrap: break-word;
}

.Article__Title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.Article__Link {
  text-decoration: none;
  color: #1890ff;
}

.Article__Link:hover {
  opacity: 0.7;
}

.Article__Link:active,
.Article__Link:focus {
  color: #52C41A;
}

.Article__Avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.Article__Content {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.Article__UserInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
}

.Article__Description {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
