.App {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #E5E5E5;
}

.Header {
  height: 80px;
  background-color: #FFFFFF; 
}

.Main {
  width: 1366px;
  padding: 25px 0;
}