.Header {
  display: flex;
  padding: 20px 20px 15px;
  font-size: 18px;
  line-height: 28px;
  background-color: #ffffff;
}

.Header__Title {
  margin: 0;
  padding: 0;
}

.Header__TitleLink {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.Header__LoggedOut,
.Header__LoggedIn {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.Header__LoggedOut {
  align-items: flex-end;
}

.Header__UserInfo {
  display: flex;
  align-items: flex-end;
  margin-right: 25px;
}

.Header__Username {
  color: #000000;
  margin-right: 10px;
}

.Header__CreateArticle {
  margin-right: 20px;
  padding: 3px 5px;
  font-size: 16px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}

.Header__CreateArticle:active,
.Header__CreateArticle:hover {
  color: #52c41a;
  border: 1px solid #52c41a;
}

.Header__Avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.Header__LogOut {
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;

  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.Header__Username:active,
.Header__Username:hover {
  color: #52c41a;
}

.Header__LogOut:active,
.Header__LogOut:hover {
  color: #52c41a;
  border: 1px solid #52c41a;
}

.Header__SignIn {
  margin-right: 20px;
  color: #000000;
}

.Header__SignUp {
  color: #000000;
}

.Header__SignIn:active,
.Header__SignUp:active {
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
}

.Header__SignIn:hover,
.Header__SignUp:hover {
  color: #52c41a;
}
