.Header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 15px;
  font-size: 18px;
  line-height: 28px;
  background-color: #ffffff;
}

.Header__Title {
  margin: 0;
  padding: 0;
}

.Header__TitleLink {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.Header__SignIn {
  margin-left: auto;
  margin-right: 20px;
 
}

.Header__SignIn,
.Header__SignUp {
  padding: 5px 10px; 
  color: #000000;
}

.Header__SignIn:active,
.Header__SignUp:active {
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
}

.Header__SignIn:hover,
.Header__SignUp:hover {
  color: #52c41a;
}
